.hcenter {
    margin-top: 45vh;
    transform: translateY(-50%); 
}

.lolidown {
    position: fixed;
    bottom: 0;
    right: 5vw;
    height: auto;
    width: 50vh;
}

body {
    background-color: #fdf5e6;
}
