.hcenter {
    margin-top: 45vh;
    transform: translateY(-50%); 
}

html { 
    margin:0;
    padding:0;
    background: "resources/black-background.jpg" no-repeat fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: 100%; /* version standardisée */
  }

  #background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}