.hcenter {
    margin-top: 45vh;
    transform: translateY(-50%); 
}

.lolidown {
    position: fixed;
    bottom: 0;
    right: 5vw;
    height: auto;
    width: 50vh;

    /* prevents the user from dragging the image in multiple browsers */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.lolimage {
    height: auto;
    width: auto;
    top:0;
    bottom: 0;

    margin: auto;
    background: #ffffff;
    border: 1px solid grey;
}

.lolist {
    background: #ffffff;
    height: 100%;
}

.search-btn {
    margin-left: 10px;
}

.search-error {
    margin-top: 10px;
}

body {
    background-color: #fdf5e6;
}